<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar placeholder="Search Matches"></ion-searchbar>

  <div class="message">
    <ion-label class="first_lbl">Messages</ion-label>
    <!-- <div class="circle">1</div> -->
  </div>

  <div class="list" *ngFor="let item of (friends$ |async)">
    <ion-item lines="none">
      <ion-thumbnail>
        <img src="assets/icon/favicon.png" />
      </ion-thumbnail>
      <div class="msg">
        <ion-label class="name">{{item.username}}</ion-label>
        <ion-label class="msg_lbl">Hyyy</ion-label>
      </div>
      <ion-label slot="end" style="font-size: 14px; margin-top: 0;">18:36</ion-label>
    </ion-item>
  </div>
</ion-content>
