<ion-header mode="md">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="chevron-back-outline"  style="margin-right: 10px;"></ion-icon>
      <ion-avatar>
        <img src="assets/icon/favicon.png" style="margin-left: 5px;" />
      </ion-avatar>
      <div class="div_lbl">
        <ion-label class="name_lbl">{{username}}</ion-label>
        <ion-label class="status">Online</ion-label>
      </div>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messageList">
    <div *ngFor="let message of messages ">
      <div class="left" *ngIf="message.self == false">
        <div class="text">
          <ion-avatar>
            <img src="assets/icon/favicon.png" />
          </ion-avatar>
          <ion-label style="margin-left: 10px;" class="msg_lbl">{{message.content}}</ion-label>
          <!-- <p style="margin-left: 10px;" >Hey there ! What's up ?</p> -->
          <ion-label class="time_lbl">{{message.time}}</ion-label>
        </div>
      </div>
  
      <div class="right" *ngIf="message.self == true">
        <ion-label class="right_lbl">{{message.content}}</ion-label>
        <ion-label class="sent_blb">{{message.time}}</ion-label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="happy-outline" style="margin-right: 12px;"></ion-icon>
      <ion-input type="text" placeholder="Write a message..." [(ngModel)]="message"></ion-input>
      <ion-icon name="paper-plane" style="margin-right: 10px;" class="send" color="light" (click)="sendMessage()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-footer>
