<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="grey" [routerLink]="['/chat']">
        <ion-icon name="chevron-back-outline"  ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main_content_div">

    <div class="textbox">
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="login.username" type="email" ></ion-input>
    </div>

    <div class="textbox">
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="login.pass" type="password"></ion-input>
    </div>

    <ion-button  expand="block" style="margin-top: 60px;" (click)="Login()">
      Log in
    </ion-button>
    <ion-button expand="block" fill="clear" shape="round" size="small">
      Forgot your password?
    </ion-button>
  </div>
</ion-content>

  <div  *ngFor="let item of (friend$ |async)">
    {{item.username}}
  </div>

<ion-footer class="ion-padding">
  <ion-buttons class="footer_btn ion-justify-content-center">
    Dont have an account?
    <ion-button color="grey">
      Sign up {{(user$ | async)}}
    </ion-button>
  </ion-buttons>
</ion-footer>
