<div class="body-form">
  <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Registarse</label>
          <input type="text" name="first" placeholder="Nombre" required="">
          <input type="text" name="last" placeholder="Apellido" required="">
					<input type="text" name="txt" placeholder="Nombre de usuario" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Registarse</button>
				</form>
			</div>

	
	</div>
</div>

